/* z-index */
.z-index-1024 {
  z-index: 1024;
}

/* custom css */
.page-link:hover {
  z-index: 2;
  color: #465fff;
  text-decoration: none;
  background-color: #ebeef2;
  border-color: #e5e9f2;
  cursor: default;
}

.page-link.active {
  z-index: 2;
  color: #465fff;
  text-decoration: none;
  background-color: #ebeef2;
  border-color: #e5e9f2;
}

.select-active {
  border-radius: 4px 4px 0 0 !important;
  border-color: #b4bdd3;
}

.select-option:hover {
  background-color: #ebeef2;
}
